.area {
   height: 100px;
   width: 490px;
   border: 1px solid black;
}

.task-title {
    width: 490px;
    border: 1px solid black;
    color: #000000;
}

.error {
    color: red;
    font-size: 12px;
}
