.task-container {
    height: 70px;
    width: 660px;
    border: 0.5px solid black;
    margin-left: 160px;
    margin-top: 20px;
    border-radius: 10px;
    padding-left: 10px;
    position: relative;
}

.clicked {
    border: 2px solid red;
}

.hidden-button {
    height: 40px;
    width: 70px;
    margin-top: 30px;
}

.edit-icon {
    border: none;
    background-color: white;
    position: absolute;
    top: 20px;
    right: 55px;

    &:hover {
        color: rgb(223, 114, 46);
    }
}

.status {
    position: absolute;
    top: 20px;
    right: 100px;
}

.checkbox {
    position: absolute;
    top: 20px;
    left: 10px;
}

.delete {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: white;
    color: #ff0000;
    &:hover {
        color: #b10b0b;
    }
}