.task-container {
    height: 70px;
    width: 660px;
    border: 0.5px solid black;
    margin-left: 160px;
    margin-top: 20px;
    border-radius: 10px;
    padding-left: 10px;
    position: relative;
}

.clicked {
    border: 2px solid red;
}

.edit-icon {
    border: none;
    background-color: white;
    position: absolute;
    top: 20px;
    right: 55px;

    &:hover {
        color: rgb(223, 114, 46);
    }
}

.status {
    position: absolute;
    top: 20px;
    right: 100px;
}

.checkbox {
    position: absolute;
    top: 20px;
    left: 10px;
}

.delete {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: white;
    color: #ff0000;

    &:hover {
        color: #b10b0b;
    }
}

.rounded-checkbox {
    position: absolute;
    margin-top: 22px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.rounded-checkbox:checked {
    clip-path: circle(50% at 50% 50%);
    background-color: red;
}